body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: rgba(55, 55, 55, 1);
  }
  
  h1{
    font-size: 2.5rem;
    line-height: 2.8rem;
    color: rgba(245, 245, 245, 1);
    border-bottom: 1px solid rgba(245, 245, 245, 1);
    padding-bottom: 20px;
  }
  
  #visualisation{
    margin: 0 50px;
    padding: 25px 0;
    background: rgba(55, 55, 55, 1);
    min-width: 560px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  p{
    font-size: 1rem;
    margin: 10px 0;
    color: rgba(245, 245, 245, 1);
  }
  
  canvas{
    margin: 0;
    padding: 0;
    
  }
  
  .highlight{
    color: #ffe100;
  
  }
  
  #canvas-tag{
    width: 560px;
    margin-top: 0px;
  }
  
  #canvas-tag p{
    font-size: 5em;
    margin-top:-5em;
  }

  .date{
    color: #ffe100;
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 15px;
    line-height: 2.2rem;
  }
  
  footer{
    background: rgba(55, 55, 55, 1);
    border-top: thin rgba(245, 245, 245, 1) solid;
    margin: 0 50px;
  }
  
  .source{
    margin: 0;
    padding: 25px;
    font-size: 0.8rem;
    font-style: italic;
    text-align: right;
    color: rgba(245, 245, 245, 1);
  }
  
  a{
    font-weight: bold;
    color: #ffe100;
  }
  
  a:hover{
    color: rgba(245, 245, 245, 1);
  }
  
  
  