/*INSPIRED BY: https://flexbox.ninja/demos/holy-grail-layout/demo.html*/
* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 1.1em;
    text-align: center;
    color: #2f2e2e;
}
.holy-grail header,
.holy-grail footer,
.hg-sidebar,
.holy-grail-content {
    padding: 10px;
    text-align: left;
}
.holy-grail header,
.holy-grail footer {
    background: #9c9c9c;
}
.hg-sidebar {  
    background: #F34A4E;
}
.holy-grail-content {
    color: #777;
}

/**
 * Flex things:
 * — Mobile first
 * — Responsive
 */
.holy-grail {
    min-height: 100vh;
}
.holy-grail,
.holy-grail-body {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}
.holy-grail-content {
    flex: 1 1 auto;
}
@media (min-width: 768px) {
    .holy-grail-sidebar-1 {
        order: -1;
    }
    .holy-grail-body {
        flex-direction: row;
    }
    .hg-sidebar {
        flex: 0 0 260px;
    }
}